/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Copy and paste your work from yesterday here and start to refactor into flexbox */
.website-wrapper {
	width: 880px;
	margin: 100px auto 100px auto;
	/* why isn't there 100px at the bottom of my page? */
}

.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

nav a {
	text-decoration: none;
	color: grey;
}

nav a:hover {
	color: black;
}

header {
	display: flex;
	justify-content: space-around;
	margin: 30px;
}

.title-button {
	display: flex;
	justify-content: space-around;
	flex-direction: column;
	margin: 70px auto 70px auto;
	align-items: center;
}

button {
	width: 100px;
}

h1 {
	font-size: 300%;
	text-align: center;
}

.top-section {
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	margin: 20px auto 20px auto;
}

.bottom-section {
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	margin: 20px 10px 20px auto;
}

footer {
	text-align: center;
}

hr {
	color: solid black;
}

/* Services specific CSS */

ul {
	list-style: disc inside;
}

.six-box-container {
	display: flex;
	width: 880px;
	flex-wrap: wrap;
	justify-content: space-between;
}

.one-box-container {
	display: flex;
	border: 1px solid black;
	background: #F4F3F4;
	padding: 20px;
	flex-direction: column;
	width: 420px;
	justify-content: space-between;
	margin: 20px 0px 20px 0px;
	/* not sure if there is a better way to get equal spacing between the boxes than manually setting these margins? don't want to apply margins, but do want equal spacing in between the two */

}

.one-box-container button {
	margin: 10px auto auto 0px;
	border-radius: 5px;
	padding: 5px;
	border: 1px solid black;
}

.services-header-img {
	margin: 30px auto 30px auto;
}

h2 {
	font-size: 180%;
}

hr {
	margin: 25px 0px 25px 0px;
}

.bottom-section {
	display: flex;
	justify-content: space-between;
}

.bottom-section-text {
	display: flex;
	justify-content: space-evenly;
	flex-direction: column;
	padding: 0px 20px 0px 20px;
}